<section class="hero is-primary is-small">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item is-size-4">
            Private-Events
          </a>
        </div>

        <% if user_signed_in? %>
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <%= link_to 'Edit Account', edit_user_registration_path, class:"button is-light" %>
                <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class:"button is-light" %>
              </div>
            </div>
          </div>
        <% else %>
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <%= link_to 'Sign Up', new_user_registration_path, class:"button is-light" %>
                <%= link_to 'Log In', new_user_session_path, class:"button is-light" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </nav>

  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <p>
        Hello 
        <% if user_signed_in? %>
          <%= current_user.username.capitalize %>
        <% else %>
          <span>Guest User</span>
        <% end %>
      </p>
      <% if user_signed_in? %>
        <p class="subtitle">
          <%= link_to "Create A New Event", new_event_path, class:"button is-light" %>
        </p>
      <% end %>
    </div>
  </div>
</section>
