<p id="notice"><%= notice %></p>

<div class="columns has-background-grey-lighter">
  <div class="column is-6">
    <h1 class="has-text-centered is-size-4">Past events </h1>
    <% @events.past_events.each do |event| %>
      <div class="card my-5">
        <div class="has-background-dark">
          <p class="has-text-white has-text-centered">
            <%= event.title.upcase %>
          </p>
          <p class="has-text-white has-text-centered">
            Created by: <%= event.user.username %>
          </p>
        </div>
        <div class="card-content">
          <div class="content">
            <p>
              <strong>Description</strong>: <%= event.description %>
            </p>
            <p>
              <strong>Date</strong>: <%= event.date %>
            </p>

            <p>
              <strong>Location</strong>:<%= event.location %>
            </p>
          </div>
        </div>
        <footer class="card-footer has-background-grey">
          <% if user_signed_in? %>
            <% if current_user.id == event.user_id %>
              <div class="card-footer-item">
                <%= link_to 'Show Event', event, class:"button is-success" %>
              </div>
              <div class="card-footer-item">
                <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }, class:"button is-danger" %>
              </div>
            <% else %>
              <div class="card-footer-item">
                <%= link_to 'Show Event', event, class:"button is-success" %>
              </div>
            <% end %>
          <% else %>
            <div class="card-footer-item">
              <%= link_to 'Show Event', event, class:"button is-success" %>
            </div>
          <% end %>
          
        </footer>
      </div>
    <% end %>
  </div>

  <div class="column is-6">
  <h1 class="has-text-centered is-size-4">Upcoming Events </h1>
    <% @events.coming_events.each do |event| %>
      <div class="card my-5">
        <div class="has-background-dark">
          <p class="has-text-white has-text-centered">
            <%= event.title.upcase %>
          </p>
          <p class="has-text-white has-text-centered">
            Created by: <%= event.user.username %>
          </p>
        </div>
        <div class="card-content">
          <div class="content">
            <p>
              <strong>Description</strong>: <%= event.description %>
            </p>
            <p>
              <strong>Date</strong>: <%= event.date %>
            </p>

            <p>
              <strong>Location</strong>:<%= event.location %>
            </p>
            <% if user_signed_in? %>
              <%= event_registration_button(event) %>
            <% end %>
          </div>
        </div>
        <footer class="card-footer has-background-grey">
          <% if user_signed_in? %>
            <% if current_user.id == event.user_id %>
              <div class="card-footer-item">
                <%= link_to 'Show Event', event, class:"button is-success" %>
              </div>
              <div class="card-footer-item">
                <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }, class:"button is-danger" %>
              </div>
            <% else %>
              <div class="card-footer-item">
                <%= link_to 'Show Event', event, class:"button is-success" %>
              </div>
            <% end %>
          <% else %>
            <div class="card-footer-item">
              <%= link_to 'Show Event', event, class:"button is-success" %>
            </div>
          <% end %>
        </footer>
      </div>
    <% end %>
  </div>
</div>
