<p id="notice"><%= notice %></p>

<% unless @event.date < Date.today %>
  <div class="columns is-centered">
    <div class="column is-6">
      <div class="card my-3">
        <div class="card-header has-background-dark">
          <p class="has-text-white has-text-centered has-text-weight-bold is-size-5">
            The following people have register to attend the event
          </p>
        </div>
        <div class="card-content">
          <div class="content">
            <% @event.attendees.each do |attendee|%>
              <strong><%= attendee.username %></strong><br/>
            <% end %>
          </div>
        </div>
        <footer class="card-footer">
          <% if current_user.id == @event.user_id %>
            <div class="card-footer-item">
              <%= link_to 'Edit', edit_event_path(@event), class:"button is-success" %>
            </div>
            <div class="card-footer-item">
              <%= link_to 'Back', events_path, class:"button is-dark" %>
            </div>
          <% else %>
            <div class="card-footer-item">
              <%= link_to 'Back', events_path, class:"button is-dark" %>
            </div>
          <%end%>
        </footer>
      </div>
    </div>
  </div>
<% else %>
  <div class="columns is-centered">
    <div class="column is-6">
      <div class="card my-3">
        <div class="card-header has-background-dark">
          <p class="has-text-white has-text-centered has-text-weight-bold is-size-5">
            The event was attended by the following people
          </p>
        </div>
        <div class="card-content">
          <div class="content">
          <% @event.attendees.each do |attendee|%>
            <strong><%= attendee.username.capitalize %></strong>
          <% end %>
          </div>
        </div>
        <footer class="card-footer">
          <div class="card-footer-item">
            <%= link_to 'Back', events_path, class:"button is-dark" %>
          </div>
        </footer>
      </div>
    </div>
  </div>
<% end %>